@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&display=swap');

*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Kaisei Decol', serif;  
    background-color: #ecf1e6;
    min-height: 100vh;
}
header{
    background-color: #C9DF8A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 70px 20px 0px;
    min-height: 20px;
    margin: 0px;
    align-content: space-evenly;
}
main{
    padding: 50px;
}

/*-------------------------------------------NAV------------------------------------------*/
nav{
    min-height: 100px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-evenly;
    margin: 0;
}

.logo{
    color: #255227;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

nav ul{
    margin-right: 25px;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
}

nav ul li a{
    color: #255227;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    align-items: center;
}

a.active,a:hover{
    background: #255227;
    /* transition: .5s;
    border-radius: 25px;
    color: white; */
}

/*------------------------------------SEÇÃO PRINCIPAL-------------------------------------*/
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background:#F0F7DA; 
    font-size: 20px; 
    padding: 80px; 
    width:auto;
    border: 1px solid lightgray; 
    border-radius: 25px;
    margin: 20px 30px 10px 30px;
    margin-left: 60px;
}
.caixa h1{
    text-align: center;
    justify-content: center;
    letter-spacing: 7px;
    font-size: 30px;
}
.caixa p{
    text-align: center;
    font-size: 18px;
}


.caixa1{
    background:#F0F7DA;
    font-size: 20px; 
    padding: 100px; 
    border: 1px solid lightgray; 
    border-radius: 25px;
    /* margin: 50px 350px 50px 350px; */
}

.caixa1 h1{
    color:#255227;
}

.caixa2{
    font-size: 20px; 
    padding: 50px; 
    margin: 50px 25px 10px 25px;
    text-align: center;
    justify-content: center;
}
.caixa3{
    display: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background:#F0F7DA; 
    font-size: 20px; 
    padding: 80px; 
    width:auto;
    border: 1px solid lightgray; 
    border-radius: 25px;
    margin: 20px 30px 10px 30px;
    margin-left: 60px;
}
.caixa3 img{
    width: 100%;
    max-width: 420px;
    float: left;
    margin-right: 30px;
    border: 2px solid #255227;
    border-radius: 10px;
}
#lado{
    display: flex;
    flex-direction: row;
}

.foto{
    width: 500px;
    flex-direction: row;
    justify-content: space-evenly;
    display:flex;
    align-items: center;
    padding: 1%;
    margin: 2% 1% 2% 1%; 
}

.titulo{
    display:flex;
    margin: 10px 80px 10px 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;    
}
.titulo img{
    display:block;
    width: 100px;
    height: 100px;
}
.textotitulo{
    text-align: center;
    margin-top: 25px;
}


/*-----------------------------------------TEXTO E IMAGEM-----------------------------------------*/
.imgg{
    max-width: 220px;
    width: 100%;
    float: left;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.imgg1{
    max-width: 220px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    float:right;
}

.container{
    display: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column; 
    font-size: 20px; 
    padding: 30px; 
    width:auto;
    margin: 20px 30px 10px 30px;
    margin-left: 60px;
    /* display:flex;
    justify-content: center;
    margin: 10px auto;
    width: 70%; */
}

.texto{
    color: black;
    align-items: center;
    margin-top: 38px;
    
}
.texto h2{
    font-size:32px;
}
.texto p{
    font-size: 20px;
}

.texto1{
    color: black;
    align-items: center;
    margin-top: 38px;
    text-align: right;
    margin-right: 20px;
}
.texto1 h2{
    font-size:32px;
}
.texto1 p{
    font-size: 20px;
}

/*-----------------------------------FORMULARIO----------------------------------------*/
#titulo-form{
    color: #2d8332;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;  
    background-color: #e8f1d6;
    padding: 520px 250px 550px 250px;
    border-radius: 10px;
    border: 3px solid #2d8332;
    width: 100%;
    color:#30502b;
    font-family: Arial, Helvetica, sans-serif;
    
}
fieldset{
    border: none;
}

 #form{    
    display:flex;
    align-items: center;
    justify-content: center;
    height: 125vh;
    align-content: center;
    height: 100vh;
    width: 60%;
    padding: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    
}

 form input, form textarea, form select{
    outline: unset;
    padding: 10px;
    border: 1px solid #8d8484;
    border-radius: 10px;
    background: none; 
}
.campos{
    padding: 40px 40px;
    margin: auto;
}

.tamanho{
    width: 300px;
}

#botaoform{
    color: white;
    background-color:  #2d8332;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border-radius: 15px;
    font-size: 15px;
    width: 130px;
    cursor: pointer;
}


/*--------------------------------------GALERIA----------------------------------------*/
#galeria{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

#h1galeria{
    text-align: center;
    padding: 20px;
}
.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:5px;
}
  
.col{
    display: flex;
    flex-direction: column;
}
  
.col img{
    width: 100%;
    margin-bottom: 5px;
}
/*--------------------------------------RODAPÉ----------------------------------------*/

footer{
    justify-content: space-between;
    align-items: center;
    background-color: #77AB59;
    color: white;
    display:flex;
    width: 100%;
    min-height: 50px;
    align-items: center;
    bottom: 0;
}

#pfooter{
    padding: 20px;
    font-size: 25px;  
    font-weight: bold;
}
.box{
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 10px;
}


@media (max-width: 950px){
    footer{
        flex-direction: column;
    }
    footer .box{
        width: 100%;
        text-align: center;
    }
    nav{
        flex-direction: column;
        display: flex;
        width: 100%;
        min-height: 160px;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-bottom: 10px;
    }
}